* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
}
header,
h3 {
    text-align: center;
}
h3 {
    color: green;
}
#levels {
    text-align: center;
}
input,
.reset {
    position: relative;
    top: 0px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    width: 200px;
    color: black;
    border-radius: 25px;
    box-shadow: 0px 5px 0px gray;
    border: 1px solid black;
    background: #48D1CC;
    outline: none;
    transition: all ease 0.3s;
}
input:active,
.reset:active {
    box-shadow: 0 3px 0 gray;
    top: 3px;
}
.reset {
    margin-left: 50px;
}
.gamelevel {
    display: none;
    text-align: center;
}
.gameWrapper {
    text-align: center;
    margin: auto;
    width: 50%;
}
.moves {
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 20px;
    background: #48D1CC;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0px 5px 0px gray;
    text-align: center;
}
#game1 .tile:nth-of-type(5),
#game2 .tile:nth-of-type(5n+1),
#game3 .tile:nth-of-type(6n+1) {
    clear: both;
}
.tile {
    float: left;
    position: relative;
    cursor: pointer;
    /*z-index: 50;*/

    border: 1px solid black;
    opacity: 0;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    padding: 5px;
    text-align: center;
    display: block;
}
.tile .tileContent {
    width: 100%;
    height: 100%;
    display: block;
    transform-style: preserve-3d;
    transition: .4s ease-in-out;
    background: #48D1CC;
    border-radius: 50px;
}
.tile .tileContent.selected,
.tile .tileContent.matchFound {
    transform: rotateY(180deg);
}
@-webkit-keyframes {
    0% {
        background: green;
    }
    100% {
        background: #48D1CC;
    }
}
@keyframes tileMatch {
    0% {
        background: green;
    }
    100% {
        background: #48D1CC;
    }
}
.tile .tileContent.matchFound {
    -webkit-animation: tileMatch 2s ease-in-out .5s;
    animation: tileMatch 2s ease-in-out .5s;
    text-align: center;
}
.tile .in,
.tile .out {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15px;
    left: 0;
    padding: 20px;
    backface-visibility: hidden;
}
.tile .in {
    transform: rotateY(-180deg);
}
.modal-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal {
    display: none;
    position: relative;
    width: 400px;
    height: 300px;
    max-height: 90%;
    max-width: 90%;
    min-height: 380px;
    margin: 0 auto;
    background: white;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 10px;
    box-shadow: 10px 10px 5px #ADD8E6;
    border: 1px solid black;
    border-radius: 25px;
}
.modal .winner {
    font-size: 45px;
    text-align: center;
    font-family: "Anton", sans-serif;
    color: green;
    text-shadow: 0px 3px 0 black;
}
.modal p {
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    color: green;
}
